<div class="navbar">
  <i class="fa-solid fa-film"></i>
  <div class="navbar-links">
    <%= link_to "My Lists", lists_path, class: "link" %>
    <%= link_to "New List", new_list_path, class: "link" %>
  </div>
</div>
